{% extends 'base.html.twig' %}

{% block title %}ALL Article{% endblock %}


{% block body %}



{% for article in articles %}
<div>Titre</div>
<p>{{article.titre}}</p>
<div>Contenu</div>
<p>{{article.contenu}}</p>
<div>Image Url</div>
<div><img src={{article.image}}></div>
<div>Date de Publication</div>
<p>{{article.datePublication.format('d/M/Y')}}</p>

<a class="btn btn-primary mr-2" href="{{ path('update_article', {id: article.id}) }}" title="mise à jour">mise à jour
    <i class="fa fa-file-text" aria-hidden="true"></i>
</a>

<a class="btn btn-danger" href="{{ path('delete_article', {id: article.id}) }}" title="Supprimer" onclick="return confirm('Êtes-vous sûr ?')">Supprimer
    <i class="fa fa-trash" aria-hidden="true"></i>
</a>



{% endfor %}

{% endblock %}





















